@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

.countdown-timer {
    font-size: 40px;
    position: relative;
    left: auto;
    top: 80px;
    justify-content: center;
    align-items: center;
}


.counterdown-timer span {
    position: fixed;
    margin-left: 5px;
    margin-right: 5px;
}

.two-numbers {
    width: 2ch;
}