@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

.pages{
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace; 
  width: device-width;
 }

body {
  overflow: hidden;
}





@media only screen and (max-height: 749px) {
  .cst-page {
    min-height: 100vh;
    height: 100%;
    width: 100%;

    position: fixed;
    top: 0%;

    background-image: url("./image/bg1.JPG");
    background-size: cover;
  }

  .show-cstPlan {
    display: flex;
    flex-direction: initial;
    justify-content: center;
    align-content: center;

    margin-right: 10%;
    gap: 3%;
  }
  .my-editor .ace_editor .ace_content {
    font-family: 'JetBrains Mono', monospace !important;
  }

  .cst-show-detail {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-right: -5%;
    margin-top: -1%;
    gap: 2%;
  }

  .cst-show-regions {
    height: 80%;
    width: 75%;
    background: rgba(35, 42, 145, 0.25);
    backdrop-filter: blur(40px);
    border-bottom: 3px solid rgba(6, 5, 5, 0.25);
    border-right: 3px solid rgba(3, 2, 2, 0.25);
    border: 5px solid rgb(187, 167, 88);
    border-left-style: double;
    border-right-style: double;
    border-radius: 20px 7px 7px 20px;
    box-shadow: 0px 5px 5px rgba(77, 49, 5, 0.626);
    overflow: auto;
    resize: none;
    padding-left: 9%;
    padding-right: 8%;
    padding-top: 3%;
    padding-bottom: 2%;
    margin-top: 4%;
    margin-bottom: 2%;
  }

  .cst-show-regions::-webkit-scrollbar {
    width: 10px;
    height: 5px;
  }

  .cst-show-regions::-webkit-scrollbar-track {
    background: #c5bcbc;
    border-radius: 500px;
  }

  .cst-show-regions::-webkit-scrollbar-thumb {
    background-color: #f0363adb;
    border-radius: 4px;
  }

  .cst-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-width: 1px;
    width: 1400%;
    height: 1400%;
    background: linear-gradient(to bottom, #b66efa, #4B0082);
    box-shadow: 0px 5px 5px rgba(33, 23, 4, 0.5);
    border-radius: 40px;
    padding: 15px 10px 10px;
    margin-left: auto;
    margin-right: -6.5%;
    margin-top: 3%;
    gap: 10px;
    font-family: 'JetBrains Mono', monospace;

  }

  .cst-wrapper h2 {
    color: #fff8f8;
    font-size: 28px;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .check-syntax, .complete {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-family: "Bungee", sans-serif;
    text-decoration: none;
    color: #181111;
    background-color: #dcf70e;
    cursor: pointer;
    border-radius: 40px;
    transition: background-color 0.3s, letter-spacing 0.3s;
  }
  
  .check-syntax {
    margin-right: 25px;
  }
  
  .check-syntax:hover {
    background-color: #3dff98;
    letter-spacing: 0.20em;
  }
  
  .complete:hover {
    background-color: #ff3d81;
    letter-spacing: 0.20em;
  }
  

  .cst-show-budget {
    display: flex;
    flex-direction: initial;
    gap: 20px;
  }

  .cst-budget {
    display: flex;
    align-items: center;
    color: #444 !important;
    height: 50px;
    width: 200px;
    border: 3px solid #d16f6f;
    background-color: #eaeaea;
    border-radius: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 6px 0 #b19a9a;
    outline: none;
    box-sizing: border-box;
    text-align: center;
    gap: 5px;
  }

  .cst-budget span {
    font-size: 20px;
    color: #b57676;
    margin-left: 20px;
    max-width: 200px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .cst-withIcon {
    width: 60px;
    padding-left: 20px;
    flex-shrink: 0;
  }

  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    
  }
  
  .popup-content {
    background-color: rgba(201, 199, 238, 0.88);
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    font-family: "bungee";
    border: #181111, 10px, solid;
  }
  .cstplanno,
  .cstplanyes
  {
    padding: 10px 20px;
    background-color: #25861e;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 40px;
    margin-right: 40px;
  }
  .cstplanno
  {
    background-color: #D21404;
  }
}


@media only screen and (min-height: 750px) {
  .cst-page {
    min-height: 100vh;
    height: 100%;
    width: 100%;

    position: fixed;
    top: 0%;

    background-image: url("./image/bg1.JPG");
    background-size: cover;
  }

  .show-cstPlan {
    display: flex;
    flex-direction: initial;
    justify-content: center;
    align-content: center;


    margin-right: 10%;
    gap: 3%;
  }
  .my-editor .ace_editor .ace_content {
    font-family: 'JetBrains Mono', monospace !important;
  }

  .cst-show-detail {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-right: -5%;
    margin-top: -1%;
    gap: 2%;
  }

  .cst-show-regions {
    height: 60%;
    width: 70%;

    background: rgba(35, 42, 145, 0.25);
    backdrop-filter: blur(40px);

    border-bottom: 3px solid rgba(6, 5, 5, 0.25);
    border-right: 3px solid rgba(3, 2, 2, 0.25);

    border: 5px solid rgb(187, 167, 88);
    border-left-style: double;
    border-right-style: double;
    border-radius: 20px 7px 7px 20px;
    box-shadow: 0px 5px 5px rgba(77, 49, 5, 0.626);

    overflow: auto;
    resize: none;

    padding-left: 9%;
    padding-right: 8%;
    padding-top: 3%;
    padding-bottom: 2%;

    margin-top: 6%;
    margin-bottom: 2%;
  }

  .cst-show-regions::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  .cst-show-regions::-webkit-scrollbar-track {
    background: #c5bcbc;
    border-radius: 500px;
  }

  .cst-show-regions::-webkit-scrollbar-thumb {
    background-color: #850a3bdb;
    border-radius: 3px;
    border: none;
  }

  .cst-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 1400%;
    height: 100%;

    background: linear-gradient(to bottom, #8A2BE2, #4B0082);
    box-shadow: 0px 5px 5px rgba(33, 23, 4, 0.5);
  

    border-radius: 40px;
    padding: 35px 30px 15px;
    margin-left: -5%;

    margin-top: 5%;

    gap: 10px;
  }

  .cst-wrapper h2 {
    color: #fff8f8;
    font-size: 28px;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .check-syntax, .complete {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-family: "Bungee", sans-serif;
    text-decoration: none;
    color: #ffffff;
    background-color: #ff1867;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .check-syntax {
    margin-right: 25px;
  }
  
  .check-syntax:hover {
    background-color: #ff3d81;
  }
  
  .complete:hover {
    background-color: #ff3d81;
  }

  .cst-show-budget {
    display: flex;
    flex-direction: initial;
    gap: 20px;
    
  }

  .cst-budget {
    display: flex;
    align-items: center;
    color: #444 !important;
    height: 50px;
    width: 200px;
    border: 3px solid #ffffff;
    background-color: #eaeaea;
    border-radius: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0 6px 0 #b19a9a;
    outline: none;
    box-sizing: border-box;
    text-align: center;
    gap: 5px;
  }

  .cst-budget span {
    font-size: 20px;
    color: #b57676;
    margin-left: 20px;
    max-width: 200px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .cst-withIcon {
    width: 60px;
    padding-left: 20px;
    flex-shrink: 0;
  }
}
