@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bungee", cursive;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    45deg,
    #335bf4,
    #7462ff,
    #2ae9c9,
    #88ffba,
    #ffc06e,
    #ec9632,
    #ec4022,
    #fa2d22,
    #fa0303
  );
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
}
@keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.container {
  display: flex;
  gap: 40px;
}

.hex {
  margin-top: 20px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 470px;
  background: #cbcbcb;
  border-radius: 40px;
  padding: 25px 20px 15px;
  gap: 15px;
}
.wrapper h2 {
  color: #7b7b7b;
  font-size: 28px;
  text-align: center;
}

.wrapper textarea {
  width: 100%;
  height: 400px;
  padding: 15px;
  font-size: 14px;

  border-radius: 5px;
  border-color: #ded9d9;
  outline: none;
  resize: none;
}

textarea:is(:focus, :valid) {
  border-width: 2px;
  padding: 14px;
  border-color: #bdbdbd;
}

textarea::-webkit-scrollbar {
  width: 0px;
}

a {
  position: relative;
  background: #979797;
  color: #fff !important;
  border-radius: 15px 15px 15px 15px;
  text-decoration: none !important;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.1em;
  padding: 10px 30px;
  transition: 0.5s;
}

a:hover {
  letter-spacing: 0.25em;
  background: var(--clr);
  box-shadow: 0 0 0px var(--clr);
  text-decoration: none;
}

.budget {
  /* margin-top: 25px; */
  /* margin-left: 150px; */
  display: flex;
  align-items: center;
  color: #444 !important;
  height: 60px;
  width: 300px;
  border: 3px solid #ffffff;
  background-color: #eaeaea;
  border-radius: 20px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0 6px 0 #b19a9a;
  outline: none;
  box-sizing: border-box;
  text-align: center;
  gap: 5px;
}

.budget span {
  font-size: 20px;
  color: #b57676;
  margin-left: 20px;
  max-width: 200px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.withIcon {
  width: 60px;
  padding-left: 20px;
  flex-shrink: 0;
  /* margin-right: auto; */
}

.question {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
  margin-top: 30px;
  gap: 20px;
  
}
