@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
@font-face {
  font-family: space;
  src: url(./font/Space.ttf);
}

.pages {
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
  width: device-width;
}

body {
  overflow: hidden;
}

@media only screen and (max-height: 749px) {
  .cst-page {
    min-height: 100vh;
    height: 100%;
    width: 100%;

    position: fixed;
    top: 0%;

    background-image: url("./image/bg1.JPG");
    background-size: cover;
  }

  .show-cstPlan {
    display: flex;
    justify-content: center;
    align-content: center;

    margin-right: 7%;
    gap: 10%;
  }
  .my-editor .ace_editor .ace_content {
    font-family: "JetBrains Mono", monospace !important;
  }

  .cst-show-detail {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-right: -5%;
    margin-top: -1%;
    gap: 3%;
  }

  .cst-show-regions {
    height: 350px;
    width: 550px;
    background: rgba(125, 3, 211, 0.25);
    backdrop-filter: blur(40px);
    border-bottom: 3px solid rgba(6, 5, 5, 0.25);
    border-right: 3px solid rgba(3, 2, 2, 0.25);
    border: 5px solid rgb(187, 167, 88);
    border-left-style: double;
    border-right-style: double;
    border-radius: 40px 7px 7px 40px;
    box-shadow: 0px 5px 5px rgba(77, 49, 5, 0.626);
    overflow: auto;

    padding-left: 13%;
    padding-right: 11%;
    padding-top: 12%;
    padding-bottom: 2%;
    margin-top: 5%;
    margin-bottom: 2%;
  }

  .cst-show-regions::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  .cst-show-regions::-webkit-scrollbar-track {
    background: hsla(291, 89%, 11%, 0.348);
    border-radius: 500px;
  }

  .cst-show-regions::-webkit-scrollbar-thumb {
    background-color: #9a3b8ddb;
    border-radius: 4px;
  }

  .cst-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    height: 590px;
    min-height: fit-content;
    background: linear-gradient(to bottom, #2c245f, #384e90, #2a235a);
    box-shadow: 5px 5px 10px rgb(21, 1, 53);
    border-radius: 20px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1.5%;
    padding-bottom: 1%;
    margin-right: -6.5%;
    margin-top: 1%;

    gap: 5px;
    font-family: "JetBrains Mono", monospace;
  }

  .cst-wrapper h2 {
    color: #ffffff;
    font-size: 28px;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .check-syntax {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-family: "Bungee", sans-serif;
    text-decoration: none;
    color: #ffffff;
    background-color: #ff1f4c;
    cursor: pointer;
    border-radius: 40px;
    transition: background-color 0.3s, letter-spacing 0.3s;

    letter-spacing: 0.8px;
    margin-right: 25px;
  }
  .complete {
    letter-spacing: 0.8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-family: "Bungee", sans-serif;
    text-decoration: none;
    color: #fff;
    background-color: #149760;
    cursor: pointer;
    border-radius: 40px;
    transition: background-color 0.3s, letter-spacing 0.3s;
  }

  .check-syntax:hover {
    background-color: #e89309;
    color: #fff;
    letter-spacing: 0.15em;
  }

  .complete:hover {
    background-color: #03d136;
    letter-spacing: 0.15em;
  }

  .cst-show-budget {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .cst-budget {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    display: flex;
    align-items: center;
    color: #444 !important;
    height: 50px;
    width: 410px;
    border: 3px solid #ffffff;

    background: rgba(0, 0, 0, 0.75);
   
    border-radius: 10px;

    outline: none;
    box-sizing: border-box;
    text-align: center;
    gap: 5px;
    margin-top: -2%;
    font-family: "Bungee";
  }

  .cst-budget span {
    font-size: 20px;
    letter-spacing: 0.6px;
    color: #fff;
    margin-left: 10px;

    max-width: 200px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .cst-line-decor{
    margin-left: 20px;
    background-color: #fff;
    height: 55px;
    width: 3px;
  }



  .cst-deposit { 
    margin-left: 6px;
    margin-bottom: -13px;
    
    height: 65px;
    width: 200px;
    border-radius: 10px;
    


    outline: none;
    box-sizing: border-box;
    text-align: center;
    gap: 5px;
   
    
    overflow: hidden;
}

  .cst-deposit p {
    font-size: 20px;
    font-family: "Bungee";
 

    display: flex;
    justify-content: center;
    color: #ffffff;
    margin-top: -10%;
    margin-bottom: -10px;
    margin-right: 20px;

    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }


  .cst-withIcon {
    width: 60px;
    padding-left: 20px;
    flex-shrink: 0;
  }


 

  .cst-show-type {
    display: flex;
    justify-self: center;
    align-items: center;
    text-align: center;
    background: rgba(1, 1, 1, 0.75);

    height: 80px;
    width: 410px;
    border: 3px solid #ffffff;
    border-radius: 10px;

    outline: none;
    box-sizing: border-box;

  }

  .cst-show-type p {
   
    display: flex;
    justify-self: center;
    align-items: center;
    text-align: center;

    letter-spacing: 0.8px;
    padding-top: 20px;
    padding-left: 20px;


    font-size: 18px;
    color: #fcfcfc;
    text-shadow: 1px #444;
    overflow: hidden;
    text-overflow: ellipsis;


    font-family: "Bungee";



    display: flex;
    flex-direction: row;

    gap: 35px;
  }

  .cst-show-deposit {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .cstpopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  .cstpopup-content {
    background-color: rgb(255, 255, 255);
    padding: 40px;
    font-size: 36px;
    border-radius: 40px;
    text-align: center;
    font-family: "outfit";
    border: 7px solid #f31c1c;
    box-sizing: border-box;
    max-width: 80%; /* Optional: Limit width of the popup content */
  }

  .error-cstpopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .error-cstpopup-content {
    background-color: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    font-family: "outfit";
    border: 7px solid #f31c1c;
    box-sizing: border-box;
    max-width: 80%; /* Optional: Limit width of the popup content */
  }

  
  .cstplanno,
.cstplanyes {
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 24px;
  border-radius: 40px;
  margin-left: 40px;
  margin-right: 40px;
  transition: letter-spacing 0.5s; /* Add a smooth transition for the letter-spacing */
}

.cstplanyes {
  background-color: #25861e;
}

.cstplanno {
  background-color: #D21404;
}


.cstplanno:hover,
.cstplanyes:hover {
  letter-spacing: 3px;
}



}

@media only screen and (min-height: 750px) {
  .cst-page {
    min-height: 100vh;
    height: 100%;
    width: 100%;

    position: fixed;
    top: 0%;

    background-image: url("./image/bg1.JPG");
    background-size: cover;
  }

  .show-cstPlan {
    display: flex;
    justify-content: center;
    align-content: center;

    margin-right: 7%;
    gap: 10%;
  }
  .my-editor .ace_editor .ace_content {
    font-family: "JetBrains Mono", monospace !important;
  }

  .cst-show-detail {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-right: -5%;
    margin-top: -1%;
    gap: 3%;
  }

  .cst-show-regions {
    height: 500px;
    width: 600px;
    background: rgba(125, 3, 211, 0.25);
    backdrop-filter: blur(40px);
    border-bottom: 3px solid rgba(6, 5, 5, 0.25);
    border-right: 3px solid rgba(3, 2, 2, 0.25);
    border: 5px solid rgb(187, 167, 88);
    border-left-style: double;
    border-right-style: double;
    border-radius: 40px 7px 7px 40px;
    box-shadow: 0px 5px 5px rgba(77, 49, 5, 0.626);
    overflow: auto;

    padding-left: 13%;
    padding-right: 11%;
    padding-top: 12%;
    padding-bottom: 2%;
    margin-top: 5%;
    margin-bottom: 2%;
  }

  .cst-show-regions::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  .cst-show-regions::-webkit-scrollbar-track {
    background: hsla(291, 89%, 11%, 0.348);
    border-radius: 500px;
  }

  .cst-show-regions::-webkit-scrollbar-thumb {
    background-color: #9a3b8ddb;
    border-radius: 4px;
  }

  .cst-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    height: 100%;
    min-height: fit-content;
    background: linear-gradient(to bottom, #2c245f, #384e90, #2a235a);
    box-shadow: 5px 5px 10px rgb(21, 1, 53);
    border-radius: 20px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1.5%;
    padding-bottom: 1%;
    margin-right: -6.5%;
    margin-top: 3.5%;

    gap: 5px;
    font-family: "JetBrains Mono", monospace;
  }

  .cst-wrapper h2 {
    color: #ffffff;
    font-size: 28px;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 5px;
  }

  .check-syntax {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-family: "Bungee", sans-serif;
    text-decoration: none;
    color: #ffffff;
    background-color: #ff1f4c;
    cursor: pointer;
    border-radius: 40px;
    transition: background-color 0.3s, letter-spacing 0.3s;

    letter-spacing: 0.8px;
    margin-right: 25px;
  }
  .complete {
    letter-spacing: 0.8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-family: "Bungee", sans-serif;
    text-decoration: none;
    color: #fff;
    background-color: #149760;
    cursor: pointer;
    border-radius: 40px;
    transition: background-color 0.3s, letter-spacing 0.3s;
  }

  .check-syntax:hover {
    background-color: #e89309;
    color: #fff;
    letter-spacing: 0.15em;
  }

  .complete:hover {
    background-color: #03d136;
    letter-spacing: 0.15em;
  }

  .cst-show-budget {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .cst-budget {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    display: flex;
    align-items: center;
    color: #444 !important;
    height: 50px;
    width: 410px;
    border: 3px solid #ffffff;

    background: rgba(0, 0, 0, 0.75);
   
    border-radius: 10px;

    outline: none;
    box-sizing: border-box;
    text-align: center;
    gap: 5px;
    margin-top: -2%;
    font-family: "Bungee";
  }

  .cst-budget span {
    font-size: 20px;
    letter-spacing: 0.6px;
    color: #fff;
    margin-left: 10px;

    max-width: 200px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .cst-line-decor{
    margin-left: 20px;
    background-color: #fff;
    height: 55px;
    width: 3px;
  }



  .cst-deposit { 
    margin-left: 6px;
    margin-bottom: -13px;
    
    height: 65px;
    width: 200px;
    border-radius: 10px;
    


    outline: none;
    box-sizing: border-box;
    text-align: center;
    gap: 5px;
   
    
    overflow: hidden;
}

  .cst-deposit p {
    font-size: 20px;
    font-family: "Bungee";
 

    display: flex;
    justify-content: center;
    color: #ffffff;
    margin-top: -10%;
    margin-bottom: -10px;
    margin-right: 20px;

    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }


  .cst-withIcon {
    width: 60px;
    padding-left: 20px;
    flex-shrink: 0;
  }


 

  .cst-show-type {
    display: flex;
    justify-self: center;
    align-items: center;
    text-align: center;
    background: rgba(1, 1, 1, 0.75);

    height: 80px;
    width: 410px;
    border: 3px solid #ffffff;
    border-radius: 10px;

    outline: none;
    box-sizing: border-box;

  }

  .cst-show-type p {
   
    display: flex;
    justify-self: center;
    align-items: center;
    text-align: center;

    letter-spacing: 0.8px;
    padding-top: 20px;
    padding-left: 20px;


    font-size: 18px;
    color: #fcfcfc;
    text-shadow: 1px #444;
    overflow: hidden;
    text-overflow: ellipsis;


    font-family: "Bungee";



    display: flex;
    flex-direction: row;

    gap: 35px;
  }

  .cst-show-deposit {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .cstpopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  .cstpopup-content {
    background-color: rgb(255, 255, 255);
    padding: 40px;
    font-size: 36px;
    border-radius: 40px;
    text-align: center;
    font-family: "outfit";
    border: 7px solid #f31c1c;
    box-sizing: border-box;
    max-width: 80%; /* Optional: Limit width of the popup content */
  }

  .error-cstpopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .error-cstpopup-content {
    background-color: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    font-family: "outfit";
    border: 7px solid #f31c1c;
    box-sizing: border-box;
    max-width: 80%; /* Optional: Limit width of the popup content */
  }

  
  .cstplanno,
.cstplanyes {
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 24px;
  border-radius: 40px;
  margin-left: 40px;
  margin-right: 40px;
  transition: letter-spacing 0.5s; /* Add a smooth transition for the letter-spacing */
}

.cstplanyes {
  background-color: #25861e;
}

.cstplanno {
  background-color: #D21404;
}


.cstplanno:hover,
.cstplanyes:hover {
  letter-spacing: 3px;
}

}