@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
@font-face {
  font-family: space;
  src: url(./font/Space.ttf);
}

#homevideo video {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  object-fit: cover;
}



img.user {
width: 40px; /* change to desired width */
margin-left: 5px;
}
img.pass {
width: 40px; /* change to desired width */
margin-left: 5px;
}


@media only screen and (max-height: 750px) {
  .upbeat {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 40%;
    left: 7%;

    text-shadow: 0em 0em 0em rgb(190, 153, 21),
      0.03em 0.03em 0.02em rgb(178, 152, 214),
      0.06em 0.06em 0.01em rgb(80, 16, 198), 0.1em 0.1em 0 black;
    letter-spacing: 0.02em;

    font-family: "space";
    font-style: normal;
    font-weight: 00;
    font-size: 170px;
    line-height: 132px;

    color: #ffffff;
  }

  .planet img {
    position: absolute;
    top: -17%;
    left: -4%;
    width: 60%;
    rotate: 10deg;

    opacity: 0.8;

    z-index: -1;
  }

  .rec {
    position: absolute;
    width: 100%;
    height: 100%;
    right: -365px;
    object-fit: cover;
    z-index: -1;

    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.93) 18.39%,
      rgba(0, 0, 0, 0.91) 22.13%,
      rgba(0, 0, 0, 0.9) 25.71%,
      rgba(0, 0, 0, 0.86) 33.85%,
      rgba(0, 0, 0, 0.82) 40.33%,
      rgba(0, 0, 0, 0.77) 47.48%,
      rgba(0, 0, 0, 0.66) 53.43%,
      rgba(0, 0, 0, 0.55) 60.74%,
      rgba(0, 0, 0, 0.44) 65.33%,
      rgba(0, 0, 0, 0.35) 72.64%,
      rgba(0, 0, 0, 0.22) 78.59%,
      rgba(0, 0, 0, 0.11) 84.55%
    );
    background-blend-mode: darken;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: matrix(0, -1, -1, 0, 0, 0);
  }

  .home-login h2 {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 600;
    color: rgb(250, 249, 249);
  }

  .home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    resize: none;

    padding-top: 3%;
    gap: 15px;
  }

  .home-login {
    position: absolute;
    width: 450px;
    height: 400px;

    right: 10%;
    top: 17%;

    padding: 50px;

    backdrop-filter: blur(1px);
    border: 6px solid mediumaquamarine;

    border-radius: 50px;
    display: flex;
    flex-direction: column;
    resize: none;

    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
  }

  .home-login .home-inputBox {
    position: relative;
  }

  .home-login .home-inputBox input {
    position: relative;
    width: 80%;
    padding: 7px 20px;
    outline: none;
    font-size: 1.3em;
    color: #22589a;
    border-radius: 50px;
    background: #fff;
    border: none;
    margin-bottom: 20px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
  }

  .home-login .home-inputBox ::placeholder {
    color: rgb(184, 171, 174);
  }

  .home-login .home-inputBox #btn {
    position: relative;
    border: none;
    outline: none;
    background: crimson;
    color: #fff;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: 500;
    transition: 0.2s;
    margin-left: 34px;
    margin-top: 40px;
  }

  .home-login .home-inputBox #btn:hover {
    letter-spacing: 0.2em;
    color: black;
    background: mediumaquamarine;
  }

  
}

@media only screen and (min-height: 750px) {
  .upbeat {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 40%;
    left: 15%;

    text-shadow: 0em 0em 0em rgb(190, 153, 21),
      0.03em 0.03em 0.02em rgb(178, 152, 214),
      0.06em 0.06em 0.01em rgb(80, 16, 198), 0.1em 0.1em 0 black;
    letter-spacing: 0.02em;

    font-family: "space";
    font-style: normal;
    font-weight: 00;
    font-size: 170px;
    line-height: 132px;

    color: #ffffff;
  }

  .planet img {
    position: absolute;
    top: -17%;

    width: 60%;
    rotate: 10deg;

    opacity: 0.8;

    z-index: -1;
  }

  .rec {
    position: absolute;
    width: 100%;
    height: 100%;
    right: -365px;
    object-fit: cover;
    z-index: -1;

    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.93) 18.39%,
      rgba(0, 0, 0, 0.91) 22.13%,
      rgba(0, 0, 0, 0.9) 25.71%,
      rgba(0, 0, 0, 0.86) 33.85%,
      rgba(0, 0, 0, 0.82) 40.33%,
      rgba(0, 0, 0, 0.77) 47.48%,
      rgba(0, 0, 0, 0.66) 53.43%,
      rgba(0, 0, 0, 0.55) 60.74%,
      rgba(0, 0, 0, 0.44) 65.33%,
      rgba(0, 0, 0, 0.35) 72.64%,
      rgba(0, 0, 0, 0.22) 78.59%,
      rgba(0, 0, 0, 0.11) 84.55%
    );
    background-blend-mode: darken;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: matrix(0, -1, -1, 0, 0, 0);
  }

  .home-login h2 {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 600;
    color: rgb(250, 249, 249);
  }

  .home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    resize: none;

    padding-top: 3%;
    gap: 15px;
  }

  .home-login {
    position: absolute;
    width: 450px;
    height: 400px;

    right: 13%;
    top: 25%;

    padding: 50px;

    backdrop-filter: blur(1px);
    border: 6px solid mediumaquamarine;

    border-radius: 50px;
    display: flex;
    flex-direction: column;
    resize: none;

    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
  }

  .home-login .home-inputBox {
    position: relative;
  }

  .home-login .home-inputBox input {
    position: relative;
    width: 80%;
    padding: 7px 20px;
    outline: none;
    font-size: 1.3em;
    color: #22589a;
    border-radius: 50px;
    background: #fff;
    border: none;
    margin-bottom: 20px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
  }

  .home-login .home-inputBox ::placeholder {
    color: rgb(184, 171, 174);
  }

  .home-login .home-inputBox #btn {
    position: relative;
    border: none;
    outline: none;
    background: crimson;
    color: #fff;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: 500;
    transition: 0.2s;
    margin-left: 34px;
    margin-top: 40px;
  }

  .home-login .home-inputBox #btn:hover {
    letter-spacing: 0.2em;
    color: black;
    background: mediumaquamarine;
  }

  
}