@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bungee", cursive;
}

body {
  overflow: hidden;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  
  /* background-image: url("./image/town.png");
  background-size: cover; */
  

  background: linear-gradient(
    45deg,
    #335bf4,
    #7462ff,
    #2ae9c9,
    #88ffba,
    #ffc06e,
    #ec9632,
    #ec4022,
    #fa2d22,
    #fa0303
  );
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
}
@keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.show-regions {
  height: 450px;
  width: 800px;

  background-image: url("./image/Sabaody.png");
  background-size: cover;

  border: 5px solid #238d64;
  border-radius: 20px 7px 7px 20px;
  box-shadow: 0px 5px 5px rgba(77, 49, 5, 0.626);
  overflow: auto;
  margin: auto;
  margin-top: 1%;
  resize: none;
  padding-left: 8%;
  padding-right: 7%;
  padding-top: 3%;
  padding-bottom: 2%;
}

.show-regions::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.show-regions::-webkit-scrollbar-track {
  background: #c5bcbc;
  border-radius: 500px;
}

.show-regions::-webkit-scrollbar-thumb {
  background-color: #073423;
  border-radius: 3px;
  border: none;
}

.show-budget {
  position: absolute;
  top: 20px;
  left: 20px;
}

.budget {
  margin-top: 20px;

  display: flex;
  align-items: center;
  color: #444 !important;
  height: 50px;
  width: 200px;
  border: 3px solid #ffffff;
  background-color: #eaeaea;
  border-radius: 20px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0 6px 0 #b19a9a;
  outline: none;
  box-sizing: border-box;
  text-align: center;
  gap: 5px;
}

.budget span {
  font-size: 20px;
  color: #b57676;
  margin-left: 20px;
  max-width: 200px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.withIcon {
  width: 60px;
  padding-left: 20px;
  flex-shrink: 0;
  /* margin-right: auto; */
}

.profile {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 50px;
  margin-top: 35px;
}

.time {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-top: 20px;
  font-size: 60px;
  color: #fff;
}

.container-button {
  position: relative;
  display: inline-block;
  margin-left: 1.5%;
  margin-top: -4.5%;
}

.container-plan {
  position: fixed;
  bottom: 10;
  right: 0;
  display: inline-block;
  margin-right: 1.5%;
  margin-top: -4.5%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  color: #b57676;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  transition: 0.5s;
}

.button:hover + .card {
  visibility: visible;
  opacity: 0.9;
  transform: translateY(-20px);
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 330px;
  width: 230px;
  max-height: 280px;
  padding: 10px;

  background-color: #fff;
  color: #22589a;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.card h3 {
  margin: 0 0 10px;
  font-size: 14px;
}

.card p {
  margin: 0;
  font-size: 12px;
}
