@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bungee", cursive;
}


  min-height: 100vh;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    45deg,
    #335bf4,
    #7462ff,
    #2ae9c9,
    #88ffba,
    #ffc06e,
    #ec9632,
    #ec4022,
    #fa2d22,
    #fa0303
  );
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
}
@keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.show-budget {
  position: absolute;
  top: 20px;
  left: 20px;
}

.budget {
  margin-top: 20px;
  /* margin-left: 150px; */

  display: flex;
  align-items: center;
  color: #444 !important;
  height: 50px;
  width: 200px;
  border: 3px solid #ffffff;
  background-color: #eaeaea;
  border-radius: 20px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0 6px 0 #b19a9a;
  outline: none;
  box-sizing: border-box;
  text-align: center;
  gap: 5px;
}

.budget span {
  font-size: 20px;
  color: #b57676;
  margin-left: 20px;
  max-width: 200px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.withIcon {
  width: 60px;
  padding-left: 20px;
  flex-shrink: 0;
  /* margin-right: auto; */
}

.profile {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 50px;
  margin-top: 35px;
}

.time {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-top: 20px;
  font-size: 60px;
  color: #fff;
}


