@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bungee", cursive;
}



.backgroundMa {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    45deg,
    #335bf4,
    #7462ff,
    #2ae9c9,
    #88ffba,
    #ffc06e,
    #ec9632,
    #ec4022,
    #fa2d22,
    #fa0303
  );
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
}
@keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.profile {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 0;
  right: 0;
}

