@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

@font-face {
  font-family: space2;
  src: url(./font/Space.ttf);
}

* {
  box-sizing:content-box;
  width: device-width;
}

body {
  overflow: hidden;
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}

#start-bg-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;

    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    transition: opacity 5.0s ease-in-out;
    filter: brightness(75%);

    
  }


  .fade-out {
    opacity: 0;
  }





  @media only screen and (max-height: 750px){
    .start-upbeat {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5%;
  
  
      text-shadow: 0em 0em 0em rgb(190, 153, 21),
        0.03em 0.03em 0.02em rgb(178, 152, 214),
        0.06em 0.06em 0.01em rgb(80, 16, 198), 0.1em 0.1em 0 black;
      letter-spacing: 0.02em;
  
      font-family: "space2";
      font-style: normal;
      font-size: 200px;
   
  
      color: #ffffff;
    }
  


    .start-container {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Bungee", cursive;
    }
    
    
    .start-button {
      position: fixed;
     
      
      top: 50%;
      border-radius: 1px;
      
      display: flex;
      flex-direction: column;
      resize: none;
    
      gap: 20px;
    
    }
    
    
    
    
    
    
    .start-button a {
      position: relative;
      display: inline-block;
      color: #d4c2c2  !important;
      /* background-color: #272020; */
      border-radius: 15px 15px 15px 15px;
    
      text-decoration: none !important;
      text-transform: uppercase;
      text-align: center;
      font-size: 30px;
      letter-spacing: 4px;
    
      padding: 15px 30px;
      overflow: hidden;
      transition: 0.2s;
    
    }
    
    
    .start-button a:hover{
      /* letter-spacing: 0.25em; */
      color: #fbfbfb !important;
      background: var(--clr);
      box-shadow: 0 0 10px var(--clr) , 0 0 40px var(--clr), 0 0 0px var(--clr);
      transition-delay: 1s;
    
      text-shadow:   0.1em 0.1em 0  #382c2c;
    }
    
    .start-button a span{
      position: absolute;
      display: block;
    }
    
    .start-button a span:nth-child(1){
      top: 0;
      left: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg,transparent,var(--clr));
    }
    
    .start-button a:hover span:nth-child(1){
      left: 100%;
      transition: 1s;
      
    }
    
    .start-button a span:nth-child(3){
      bottom: 0;
      right: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(270deg,transparent,var(--clr));
    }
    
    .start-button a:hover span:nth-child(3){
      right: 100%;
      transition: 1s;
      transition-delay: 0.5s;
      
    }
    
    .start-button a span:nth-child(2){
      top: -100%;
      right: 0%;
      width:2px;
      height: 100%;
      background: linear-gradient(180deg,transparent,var(--clr));
    }
    
    .start-button a:hover span:nth-child(2){
      top: 100%;
      transition: 1s;
      transition-delay: 0.25s;
      
    }
    
    .start-button a span:nth-child(4){
     bottom: -100%;
      left: 0%;
      width:2px;
      height: 100%;
      background: linear-gradient(360deg,transparent,var(--clr));
    }
    
    .start-button a:hover span:nth-child(4){
      bottom: 100%;
      transition: 1s;
      transition-delay: 0.75s;
      
    }
    
    #start-popup-container {
      display: flex;
      justify-content: center;
      align-items: center;
    
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    
      background-color: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(5px);
    
      gap: 15px;
    }
  }

  @media only screen and (min-height: 750px){
    .start-upbeat {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 3%;
  
  
      text-shadow: 0em 0em 0em rgb(190, 153, 21),
        0.03em 0.03em 0.02em rgb(178, 152, 214),
        0.06em 0.06em 0.01em rgb(80, 16, 198), 0.1em 0.1em 0 black;
      letter-spacing: 0.02em;
  
      font-family: "space2";
      font-style: normal;
      font-size: 240px;
   
  
      color: #ffffff;
    }

    .start-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    
    .start-button {
      position: fixed;
     
      
      top: 50%;
      border-radius: 1px;
      
      display: flex;
      flex-direction: column;
      resize: none;
    
      gap: 20px;
    
    }
    
    
    
    
    
    
    .start-button a {
      position: relative;
      display: inline-block;
      color: #d4c2c2  !important;
      /* background-color: #272020; */
      border-radius: 15px 15px 15px 15px;
    
      text-decoration: none !important;
      text-transform: uppercase;
      text-align: center;
      font-size: 40px;
      letter-spacing: 4px;
    
      padding: 15px 30px;
      overflow: hidden;
      transition: 0.2s;
    
    }
    
    
    .start-button a:hover{
      /* letter-spacing: 0.25em; */
      color: #fbfbfb !important;
      background: var(--clr);
      box-shadow: 0 0 10px var(--clr) , 0 0 40px var(--clr), 0 0 0px var(--clr);
      transition-delay: 1s;
    
      text-shadow:   0.1em 0.1em 0  #382c2c;
    }
    
    .start-button a span{
      position: absolute;
      display: block;
    }
    
    .start-button a span:nth-child(1){
      top: 0;
      left: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg,transparent,var(--clr));
    }
    
    .start-button a:hover span:nth-child(1){
      left: 100%;
      transition: 1s;
      
    }
    
    .start-button a span:nth-child(3){
      bottom: 0;
      right: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(270deg,transparent,var(--clr));
    }
    
    .start-button a:hover span:nth-child(3){
      right: 100%;
      transition: 1s;
      transition-delay: 0.5s;
      
    }
    
    .start-button a span:nth-child(2){
      top: -100%;
      right: 0%;
      width:2px;
      height: 100%;
      background: linear-gradient(180deg,transparent,var(--clr));
    }
    
    .start-button a:hover span:nth-child(2){
      top: 100%;
      transition: 1s;
      transition-delay: 0.25s;
      
    }
    
    .start-button a span:nth-child(4){
     bottom: -100%;
      left: 0%;
      width:2px;
      height: 100%;
      background: linear-gradient(360deg,transparent,var(--clr));
    }
    
    .start-button a:hover span:nth-child(4){
      bottom: 100%;
      transition: 1s;
      transition-delay: 0.75s;
      
    }
    
    #start-popup-container {
      display: flex;
      justify-content: center;
      align-items: center;
    
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    
      background-color: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(5px);
    
      gap: 15px;
    }
  }





