@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

* {
  box-sizing:content-box;
  font-family: "Bungee", cursive;
  width: device-width;
}

body {
  overflow: hidden;
}

#log-bg-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }


/* .log-background {
  background-image: url("./image/space.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  height: 100%;
  width: 100%;

  height: 100vh;
} */

.log-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  resize: none;

  padding-top: 3% ;
  gap: 15px;
}



.log-logo {
    width: 18%;
    display: flex;
    align-items: center;
}
img.user {
  width: 40px; /* change to desired width */
  margin-left: 5px;
}
img.pass {
  width: 40px; /* change to desired width */
  margin-left: 5px;
}


.login {
  position: relative;
  padding: 25px;
  
  backdrop-filter: blur(15px);
  border: 1px solid #fff;

  border-radius: 30px;
  width: 350px;
  display: flex;
  flex-direction: column;
  resize: none;

  gap: 15px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
}

.login h2 {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  color: rgb(250, 249, 249);
}

.login .log-inputBox {
  position: relative;
}

.login .log-inputBox input {
  position: relative;
  width: 80%;
  padding: 7px 20px;
  outline: none;
  font-size: 1em;
  color: #22589a;
  border-radius: 50px;
  background: #fff;
  border: none;
  margin-bottom: 20px;
  margin-left: 10px;
  justify-content: center;
  align-items: center;

}

.login .log-inputBox ::placeholder {
  color: rgb(184, 171, 174);
}

.login .log-inputBox #btn {
  position: relative;
  border: none;
  outline: none;
  background: #22589a;
  color: #fff;
  cursor: pointer;
  font-size: 1.25em;
  font-weight: 500;
  transition: 0.5s;
  margin-left: 34px;
}

.login .log-inputBox #btn:hover {
  letter-spacing: 0.25em;
  background:crimson;
}
