@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
@font-face {
  font-family: space;
  src: url(./font/Space.ttf);
}

* {
  box-sizing: border-box;
  /* font-family: "Bungee", cursive; */
  width: device-width;
}

body {
  overflow: hidden;
}

.youlosecontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  align-items: center;
  gap: 30px;
  height: 100vh;
}

.youlosecontainer a {
  text-align: center;
  position: relative;

  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
 
  color: #fff !important;
  border-radius: 20px;
  text-decoration: none !important;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 0.15em;
  padding: 10px 20px;
  transition: 0.5s;
}

.youlosecontainer a:hover {
  letter-spacing: 0.25em;
  /* background: #096d4d; */
  /* box-shadow: 0 0 0px var(--clr); */
  text-decoration: none;
}
/* #yl-popup-container {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);

  z-index: -1;
  gap: 15px;
} */

.you-lose-show {
display: flex;
flex-direction: column;
gap: 20px;
}

#youlose-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transition: opacity 5s ease-in-out;
  filter: brightness(100%);
}



.youlose-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 30px;
  color: #000000;

  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
  border: 1px 0px 0px 0px double rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  background: rgba(52, 52, 52, 0.03);
  backdrop-filter: blur(20px);
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);

  border: 5px solid rgb(222, 73, 32);
  transition: all 0.5s ease;

  animation-name: alert-animation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.youlose-text h1 {
  text-shadow: 0.025em 0.025em 0.02em rgb(35, 32, 1),
    0.05em 0.05em 0.02em rgb(218, 135, 26), 0.075em 0.075em 0.02em black,
    0.1em 0.1em 0 rgb(185, 23, 55);
  letter-spacing: 0.01em;

  color: aliceblue;
  font-size: 10em;
}

@keyframes alert-animation {
  0% {
    border-color: rgb(234, 76, 8); 
  }
  50% {
    border: 6px double white; 
  }
  100% {
    border-color: red; 
  }
}

/* .youlose-text span
{
  position: absolute;
  background: #c877e9;
}

.youlose-text span:nth-child(1)
{
  width: 100%;
  height: 6px;
  top: 0;
  left: -100%;
  animation: animate1 2s linear infinite;
  
}

.waiting-text span:nth-child(3)
{
  width: 100%;
  height: 6px;
  bottom: 0;
  right: -100%;
  animation: animate3 2s linear infinite;
}

.waiting-text span:nth-child(2)
{
  width: 6px;
  height: 100%;
  top: -100%;
  right: 0;
  animation: animate2 2s linear infinite;
}

.waiting-text span:nth-child(4)
{
  width: 6px;
  height: 100%;
  bottom: -100%;
  left: 0;
  animation: animate4 2s linear infinite;
}

@keyframes animate1
{
  0%
  {
    left: -100%;
  }
  20%
  {
    left: 0;
  }
  40%
  {
    left: 100%;
  }
  60%
  {
    left: 100%;
  }
  80%
  {
    left: 100%;
  }
  100%
  {
    left: 100%;
  }
}

@keyframes animate2
{
  0%
  {
    top: -100%;
  }
  20%
  {
    top: -100%;
  }
  40%
  {
    top: 0;
  }
  60%
  {
    top: 100%;
  }
  80%
  {
    top: 100%;
  }
  100%
  {
    top: 100%;
  }
}

@keyframes animate3
{
  0%
  {
    right: -100%;
  }
  20%
  {
    right: -100%;
  }
  40%
  {
    right: -100%;
  }
  60%
  {
    right: 0;
  }
  80%
  {
    right: 100%;
  }
  100%
  {
    right: 100%;
  }
}

@keyframes animate4
{
  0%
  {
    bottom: -100%;
  }
  20%
  {
    bottom: -100%;
  }
  40%
  {
    bottom: -100%;
  }
  60%
  {
    bottom: -100%;
  }
  80%
  {
    bottom: 0;
  }
  100%
  {
    bottom: 100%;
  }
} */
